{#
/**
 * @file
 * Contains the text of the page_example explanation page
 */
#}
<div class="post-container">
  <h2>Guests talking about us...</h2>
  {% for post in posts %}
    <div class="post">
      <div class="top-header">
        <span class="username">{{ post.username|e }}</span>
        <span class="time">{{ post.timestamp|e }}</span>
        <img src="{{ post.avatar }}">
      </div>
      <div class="post-message">
        <p>{{ post.message|e }}</p>
        {% if not post.picture == '' %}
          <img class="post-picture" src="{{ post.picture }}">
        {% endif %}
      </div>
      <div class="post-footer">
        <span class="usermail">{{ post.email }}</span>
        <span class="userphone">{{ post.phone }}</span>
      </div>
    </div>
  {% endfor %}
</div>

