{% if posts %}
<div class="post-container">
  <h2>Guests talking about us...</h2>
  {% for post in posts %}
    <article class="post">
      <aside class="user-info">
        <h3 class="username">{{ post.username|e }}</h3>
        <div class="avatar-container">
          <img class="avatar" src="{{ post.avatar|e }}" alt="Avatar of the user">
        </div>
        <ul>
          <li class="usermail"><span>e-mail:</span><br>{{ post.email|e }}</li>
          <li class="userphone"><span>phone:</span><br>+{{ post.phone|e }}</li>
        </ul>
      </aside>
      <div class="post-message">
        <div class="post-header">
          <span class="user">Posted by {{ post.username|e }} on &nbsp;</span>
          <span class="time">{{ post.timestamp|e }}</span>
        </div>
        <div class="post-body">
          <p>{{ post.message|e }}</p>
          {% if not post.picture == '' %}
            <p class="attached">Attached image:</p>
            <img class="post-picture" src="{{ post.picture|e }}" alt="Attached picture">
            <div class="full-post-picture">
              <img src="{{ post.picture|e }}" alt="Attached picture">
            </div>
          {% endif %}
        </div>
        {% if can_edit %}
          <div class="admin">
            <div class="post-id">Post #{{ post.post_id }}</div>
            <button><a href="/feedback/edit/{{ post.post_id }}">Edit</a></button>
          </div>
        {% endif %}
      </div>
    </article>
  {% endfor %}
</div>
{% endif %}
